[Desktop Entry]
Version=0.3.2
Name=Densify
Comment=PDF Compressor
GenericName=Densify
Exec=/opt/Densify/densify
Path=/opt/Densify/
Terminal=false
Type=Application
Icon=/opt/Densify/desktop-icon.png
StartupNotify=true
Categories=Utility;Application;
StartupWMClass=densify
